/* Global Styles */
body {
	background: #000;
	margin: 0;
	padding: 0;
}
h1,h2,h3,p,li {
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
}
a {
	cursor: pointer;
	text-decoration: none;
}
img {
	border: 0;
}
.wrapper {
	width: 100%;
	height: 100%;
}
/* Modal Styles */
label.error {
	display: none !important;
}
.summary {
	color: #00aeef;
	width: 210px;
	height: 20px;
	position: absolute;
	right: 50px;
	bottom: 77px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: 200;
}
#thank-you {
	width: 573px;
	height: 354px;
	background: url('../img/thanks-modal.png');
	display: none;
}
#modal-window {
	width: 573px;
	height: 355px;
	background: url('../img/bg-modal.png');
	display: none;
}
.closer {
	position: relative;
	height: 40px;
	width: 40px;
	top: 0;
	float: right;
	display: block;
}
.sign-up-form {
	margin-top: 76px;
	width: 285px;
}
.sign-up-form input {
	 height:45px;
    line-height:45px;/*results in nice text vertical alignment*/
    border:none;
    background:transparent;
    width:285px;/*full width - grey on the side - 2*10px padding*/
    margin-top: 13px;
    color: #fff;
    font-size: 20px;
    margin-left: 205px;
}
.sign-up-form input.first-name {
	margin-top: 13px;
}
.sign-up-form input.last-name {
	margin-top: 10px;
}
.sign-up-form input.mail{
	margin-top: 13px;
}
.sign-up-form input.submit {
	cursor: pointer;
	font-size: 0;
	margin-top: 10px;
	margin-left: 70px;
	width: 165px;
	height: 40px;
}
/* Header Styles */
.header {
	width: 1015px;
	height: 316px;
	margin: 0 auto;
	background: url('../img/bg-header.jpg');
}
.header a.logo {
	display: block;
	width: 100%;
	height: 163px;
}

/* Content Styles */
.content {
	width: 1015px;
	height: 440px;
	margin: 0 auto;
	background: url('../img/bg-content.jpg');
}
.content .description {
	width: 885px;
	height: 100px;
	margin: 0 auto;
}
.description p {
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	line-height: 22px;
	padding: 0;
	margin: 0;
}
.content .sign-up {
	width: 665px;
	height: 106px;
	margin: 0 auto;
}
.sign-up .click {
	margin-top: 50px;
	margin-left: 205px;
}
.click a {
	width: 238px;
	height: 38px;
	display: block;
}
.content ul {
	width: 530px;
	height: 170px;
	margin-left: 459px;
}
.content ul li {
	display: inline-block;
	font-weight: 200;
	line-height: 22px;
	font-size: 16px;
	background: url('../img/bullet.png') no-repeat left 10px;
	padding-left: 10px;
	width: 470px;
	max-width: 470px;
}
.yellow-bold {
	font-weight: 800;
	color: #fff200;
}
.content ul li.last-child {
	background: url('../img/bullet.png') no-repeat left 11px;
}
.roam-link {
	width: 1070px;
	height: 65px;
	margin: 0 auto;
	background: #000;
}
.roam-border {
	border-top: #3f3d3e 1px solid;
	border-bottom: #3f3d3e 1px solid;
	height: 63px;
	width: 1014px;
	margin-left: 20px;
}
.small-logo {
	width: 266px;
	height: 26px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 50px;
}
.roam-link a {
	width: 280px;
	height: 26px;
	display: block;
}
/* Footer Styles */
.footer {
	width: 1015px;
	height: 162px;
	margin: 0 auto;
	background: url('../img/bg-footer.jpg');
}
.footer .mailing-list {
	margin-top: 25px;
	width: 485px;
	height: 40px;
	float: left;
}
.mailing-list a {
	display: block;
	width: 100%;
	height: 100%;
}
.footer ul {
	width: 175px;
	margin-left: 228px;
	margin-top: 25px;
	list-style-type: none;
	float: left;
}
.footer ul li {
	display: inline-block;
	height: 41px;
	float: left;
}
.footer li a {
	display: block;
	width: 100%;
	height: 100%;
	float: left;
}
li.facebook {
	width: 23px;
}
li.twitter {
	width: 33px;
}
li.youtube {
	width: 30px;
}
li.instagram {
	width: 34px;
}
.top-wrap {
	width: 100%;
	height: 80px;
}
.copyright {
	width: 100%;
	margin: 0 auto;
	height: 20px;
	float: left;
}
.copyright p {
	text-align: center;
	font-size: 10px;
	padding: 0;
	margin: 0;
	color: #acacac;
}